

body {
	background: url("../img/bg.png");

}

/*  layout  */

.container {
	width: 90%;
	background: gray;
	margin: 0 auto;

}
article section {
	width: 46%;
	float: left;
	padding: 2%;

}

/*  adaptive content */

iframe, img {

	max-width: 100%;
	width: 100%;

}

@media (min-width: 960px) {
	#home {
		width: 300px;
	}
	#youtube-big {
		display: none;

	}

	#youtube-med {
		display: block;

	}

}

/* tablet */

@media (min-width: 768px) {
	#youtube-big {
		display: block;

	}

	#youtube-med {
		display: none;

	}

}

/* mobile */

@media (min-width: 780px) {
	article section {}

}

